/*navbar side*/
.sidenav 
{
    width: 240px;
    background: var(--sidebar-bg);
    border-radius: 8px;
    position: absolute;
    height: 800px;
    padding: 0 10px;
    top: 125px;
    transition: all 1s;
}

.sidenav a
{
    color: var(--title);
}

/*Spacing on top of the side bar labels*/
ul
{
    padding: 50px 0 0 0;
}

ul li
{
    list-style-type: none;
    /*Space between the side bar labels*/
    margin: 10px 0;
}

ul li a{
    color: white;
    text-decoration: none;
    display: block;
    font-size: 17px;
    padding: 10px 10px;
    border-radius: 8px;
}

/*Light blue when user hovers over the sidebar labels*/
ul li a:hover,
ul li a.active
{
    background: #c9e2f4a8;
}

/*AUT logo*/

.logo
{
    width: 150px;
}

